<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            margin:auto;
            width:50%;
            padding: 30px;
            background: #e2e2e2;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 data-th-text="${name}">Welcome to home page</h1>
        <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus accusantium quis vel repudiandae saepe cumque repellendus exercitationem eaque quidem aliquam illo fugit animi eius cupiditate ut, ratione totam iusto explicabo sit maiores velit autem dolorum sed hic. Minus in itaque excepturi ducimus ad accusantium asperiores, sapiente iste repellendus quod nulla!</p>
    </div>
</body>
</html>